<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADTfiM0LUzcC0AFENFS7ChIs8C93NLNxo</string>
	<key>GCM_SENDER_ID</key>
	<string>76988010772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.panasonicsales.synergy.tool</string>
	<key>PROJECT_ID</key>
	<string>sfa-panasonic</string>
	<key>STORAGE_BUCKET</key>
	<string>sfa-panasonic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76988010772:ios:702eb4765dad44cc7a7201</string>
</dict>
</plist>